* {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.projects {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
h1 {
  margin-top: 1rem;
}
.project {
  width: 20rem;
  height: 15rem;
  border: 1px solid brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
}
.name {
  font-size: x-large;
  margin-bottom: 2rem;
  font-weight: bolder;
}
.github {
  margin-block: 1rem;
  cursor: pointer;
}
.deployed {
  cursor: pointer;
}
