.question-container {
  background-color: aliceblue;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.question-text {
  color: white;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 2rem;
}
.totalCount {
  color: white;
  font-weight: lighter;
  font-size: large;
  margin-bottom: 2rem;
}
.question {
  font-size: xx-large;
  color: white;
  margin-top: 3rem;
  margin-inline: auto;
}
